*{
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100%;
}


.app__posts{
  padding: 20px;
  display : flex;
  justify-content: center;
}

.app__postsRight{
  margin-left: 20px;
}

.model__style{
  position: absolute ;
  top : 50%; 
  left : 50%; 
  width:50%;
  background-color: rgb(255, 255, 255);
  border: '2px solid #000';
  box-shadow: 5px;
  padding : 40px 50px 30px;
  transform: translate(-50%, -50%);
  border-radius: 50px;
}

.app__signup{
  display: flex;
  flex-direction: column;
}


@media screen and (max-width: 600px) {
  .app__postsRight{
    margin-left: 20px;
    justify-content: center;
    visibility: hidden;
    clear: both;
    display: none;
  }
}